main {
    white-space: pre-line;
}

h1 {
    font-weight: 400;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 28px;
}

.endpoint {
    width: 75vw;
    margin: 0 2vw;
    box-shadow: 0 0 30px #cdd1da66;
    padding: 20px 40px;
    border-radius: 20px;
}

details {
    color: #fff;
    border: 1px solid;
    border-radius: 4px;
    min-height: 48px;
    transform-origin: top center;
    max-height: 1.5rem; /* set to line heihgt */
    transition: all 2s ease;
}

details[open] {
    max-height: 99rem;
    transition: all 2s ease;
}

details:hover {
    border-color: #878d99;
}

details:active {
    color: rgba(255, 255, 255, 0.9);
    border-color: #6d7380;
}

details > summary:first-of-type {
    list-style-type: none;
}

details + details {
    margin-top: 10px;
}

details p {
    color: #fefefe;
    line-height: 1.7;
    padding: 0 25px 15px;
    transform: translateY(-30px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: rgb(91, 235, 34);
    background-color: #373b37;
}

details.request {
    background: #76a5cc;
}

details.response {
    background: #419736;
}

summary {
    outline: none;
    font-size: 16px;
    padding: 13px;
    cursor: pointer;
}

summary:selection {
    background: transparent;
}

[open] summary {
    display: inline;
}

summary:after {
    margin-top: 2px;
    content: '➕';
    float: left;
    margin-right: 11px;
    text-align: center;
    font-size: 11px;
}

[open] summary:after {
    padding: 0 0 12px 0;
    content: '➖';
}

code {
    font-size: 16px;
    width: 75vw;
}

code span {
    padding: 12px 8px 12px 15px;
    background: rgba(182, 193, 196, 0.4);
    border-radius: 5px;
    margin-left: 10px;
}

code span button {
    border: 0;
    outline: none;
    padding: 4px 12px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.4s;
    margin-left: 30px;
}

code span button:hover {
    background: rgb(220, 238, 248);
    cursor: pointer;
}

code span button:focus {
    border-color: rgb(196, 221, 241);
}
