@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* Body, Dark-Theme & Navbar Styles */
* {
    box-sizing: border-box;
}

body {
    transition: background 0.5s linear;
    font-family: 'Montserrat';
    margin-left: 250px;
    margin-top: 80px;
    background: white;
}

body.dark {
    background-color: #444;
    color: aliceblue;
}

nav {
    background: inherit;
    z-index: 99;
    height: 70px;
    width: calc(100% - 250px);
    border-bottom: 2px solid #ddd6;
    position: fixed;
    top: 0;
    right: 0;
}

/* Fancy Title styles */

svg {
    font: 2.5em 'Montserrat';
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #16344d;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #006584;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #0071bd;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #00bdb4;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #fdb731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

/* DarkMode Button Styles*/
#theme {
    position: absolute;
    right: 5%;
    top: 30%;
}

#theme :hover {
    cursor: pointer;
}

.checkbox {
    opacity: 0;
    position: absolute;
    right: 0;
}

.label {
    width: 50px;
    height: 25px;
    background-color: #777;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

/* Sidebar Styles */
#sidebar {
    z-index: 99;
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background: #9991;
}

.sidebar-logo {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-right: 12px;
}
.sidebar-logo a {
    text-decoration: none;
    color: rgb(145, 145, 146);
}
.sidebar-logo span {
    color: rgb(187, 206, 211);
}

.sidebar-logo::after {
    content: 'Docs';
    position: absolute;
    font-size: 18px;
    bottom: -30%;
    left: 65%;
    color: rgb(226, 183, 103);
}

.sections {
    margin-top: 12%;
}
.section::selection {
    color: inherit;
}

.section {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 5%;
}

.section {
    color: inherit;
    text-decoration: none;
}

.section:hover {
    cursor: pointer;
}

.section:active {
    background-color: #cae5ff7e;
}

.section::before {
    padding: 0 10px;
    transform: translateY(1px);
}
.section:nth-child(1)::before {
    content: '⚡';
}
.section:nth-child(2)::before {
    content: '🔥';
}
.section:nth-child(3)::before {
    content: '☕';
}
.section:nth-child(4)::before {
    content: '⚓';
}
.section:nth-child(5)::before {
    content: '🍃';
}
.section:nth-child(6)::before {
    content: '🌔';
}
.section:nth-child(7)::before {
    content: '🎡';
}
.section:nth-child(8)::before {
    content: '🎩';
}
.section:nth-child(9)::before {
    content: '❓';
}
.section:nth-child(10)::before {
    content: '👑';
}
